*{
    margin: 0px;
    padding: 0;
}

a{
    text-decoration: none;
    margin:20px;
}
@font-face {
    font-family: 'Montserrat', sans-serif ;
    src: url('https://fonts.googleapis.com/css2? family= Montserrat:wght@500 & display=swap');
}

body{
    background-image: linear-gradient(to bottom,black, black , rgb(172, 38, 161) ) 
}
.img_header {
    width: 100%;
    height:  100%;
    
}
/* Barra navegacio ------------------------
nav ul li{
    display: inline-flex;
    align-items: center;
    justify-items: center;
    margin: 20px;
    font-family: 'Montserrat', sans-serif ;
    
}

nav ul li a{
    color: white;
    font-size: 30px;
    line-height: 20px;
    


} */
/* --------------------------------------------- */
.activo{
    padding: 8px 16px 8px 16px;
    background-color: purple;
    border-radius: 5px;
    color: white;

}
.inactivo{
     color: white;
}

/* INDEX--------------------------------------------------------------- */
.linea {
    display: inline-block;
    align-items: center;   
}


.texto_welcome {
    display: flex;
    flex-direction: column;
    justify-items:center ;
    align-items: center;   
}
.margen{
    padding-left: 50px;
}

.img_index  div img:hover{
    left: 50px;
    position: relative;
    transition: 1.5s;
    transform: translate(20px, 20px);
} 

.titulo_index  div h1{
    position: relative;
    bottom: 50px;
    right: 100px;
    font-family: 'Montserrat', sans-serif ;
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif ;
    text-align: center;


}

 
.parrafo_index  div p{
    width: auto;
    height: auto;
    font-size: 20px;

    position: relative;
    /* bottom: 130px; */
    right: 100px;
    font-family: 'Montserrat', sans-serif ;
    text-align: center;
    color: white;
   
} 
/* ----------------------------------------------------------------- */


/*Footer---------------------------------------------------------------*/

footer ul li{
    display: inline;
    margin: 20px;

    position: relative;
    top: 40px;
}




footer{
    height: 120px;
    /* background-image: url('https://img1.wallspic.com/previews/8/2/9/6/4/146928/146928-textil_de_rayas_rosa_y_negro-x750.jpg'); */

    
}
.efecto:hover{
    transition: 1s;
    transform: scale(1.3, 1.3);
}

.imgT{
    color: white;
    size: 20px;
    font-size: 50px ;
    position: relative;
    bottom: 15px; 

}
.centrar{
    text-align: center;
    display: inline;
}

#img_{
    height: 60%;
    width: 100%;
}
/* ---------------------------------------------------------- */

/*Portfolio imagenes*/
.tamaño1{
    height: 50%;
    width: 100%;
}
.tamaño2{
    height: 27%;
    width: 100%;

}
.tamaño3{
    height: 55%;
    width: 100%;

}
.tamaño4{
    height: 285px64.5%;
    width: 75%;

}
.tamaño5{
    height: 25%;
    width: 100%;

}
.tamaño6{
    height: 100%;
    width: 62.5%;

}
.tamaño7{
    height: 60%;
    width: 100%;

}

.trabajos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif ;
    text-align: center;
    padding: 10px;
    
}


.trabajos h2{
    line-height: 80%;
    font-size: 300%;
    padding: 10%;
}

.trabajos p{
    line-height: 80%;
    font-size: 200%;
    /* padding: 10%; */

}

.img_portfolio img{
    height: 450px;
    width: 750px;
}


.img_center{
    position: relative;
    bottom: 40px; 
}


/* ---------------------------------------------- */

/* Perfil */

.titulo_perfil h2{
    position: relative;
    top : 50px; 
    left: 200px;
    
    font-size: 50px;
}
.parrafo_perfil p{
    position: relative;
    top: 100px;
    width: auto;
    height: auto;
    padding: 20px;
}

.general_perfil{
    color: white;
    font-family: 'Montserrat', sans-serif ;
}
.inLine{
    display: flex;
    flex-direction: row;
}
#img_perfil{
    grid-area: img_perfil;
    margin: 20px;
}
#texto_perfil{
    grid-area: texto_perfil;
}

/* ------------------------------------------ */

/* Contacto */

.Bordes_text h4{
    border: purple;
    border-width: 4px;
    border-style: groove;
    width: 900px;
    margin: 10px;
    position: relative;
   
}
.color{
    color: white;
    font-family: 'Montserrat', sans-serif ;
}
.Centrar_form h2{
    text-align: center;
}




/* Portfolio E Index Grid --------------------------------------*/

header{
    grid-area: header;
    height: 300px;
}

nav{
    grid-area: nav;
    height: auto;
    width: 1200px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


footer{
    grid-area: footer;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#b_bloque1{
    grid-area: b_bloque1;
    height: 120px;
    margin: 30px;
    font-size: 30%;
    }
#b_bloque2a{
    grid-area: b_bloque2a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
} 
#b_bloque2b{
    grid-area: b_bloque2b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#b_bloque3a{
    grid-area: b_bloque3a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#b_bloque3b{
    grid-area: b_bloque3b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#m_bloque1{
    grid-area: m_bloque1;
    margin: 30px;
    height: 60px;
    
}

#m_bloque2a{
    grid-area: m_bloque2a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#m_bloque2b{
    grid-area: m_bloque2b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#m_bloque3a{
    grid-area: m_bloque3a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-content: center;
}
#m_bloque3b{
    grid-area: m_bloque3b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#m_bloque4a{
    grid-area: m_bloque4a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#m_bloque4b{
    grid-area: m_bloque4b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#imagen_index{
    grid-area: div2;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    column-gap: 20%;
}
div{
    grid-area: div;
}

.grilla_index{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    
    grid-template-areas:
        "header header header header"
        "header header header header"
        "nav nav nav nav "
        "div2 div2 div2 div2 "
        "div2 div2 div2 div2 "
        "footer footer footer footer"
    ;
    
    align-items: center;
    justify-items: center;
    
} 




.grilla_portfolio{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-column-gap: 20px; */
        /* grid-template-rows: repeat(10, 600px); */
        
    grid-template-areas:
        "header header header header "        
        "header header header header "  
        "nav nav nav nav "
        "b_bloque1 b_bloque1 b_bloque1 b_bloque1"
        "b_bloque2a b_bloque2a b_bloque2b b_bloque2b"        
        "b_bloque3a b_bloque3a b_bloque3b b_bloque3b"
        "m_bloque1 m_bloque1 m_bloque1 m_bloque1"
        "m_bloque2a m_bloque2a m_bloque2b m_bloque2b"
        "m_bloque3a m_bloque3a m_bloque3b m_bloque3b"
        "m_bloque4a m_bloque4a m_bloque4b m_bloque4b"
        "footer footer footer footer"
    ;
        
        
    align-items: center;
    justify-items: center;

        
}

/* Grilla perfil */
.grilla_perfil{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-areas: 
    "header header header header"
    "header header header header"
    "nav nav nav nav"
    "img_perfil img_perfil texto_perfil texto_perfil"
    "footer footer footer footer"
    ;

    align-items: center;
    justify-items: center;
}

#titulo_hobbie{
    grid-area: titulo;
    height: 50px;
}

.grilla_hobbie{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-areas: 
    "header header header header"
    "header header header header"
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "div div div div"
    "footer footer footer footer"
    ;

    align-items: center;
    justify-items: center;
}

.grilla_contacto{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-areas: 
    "header header header header"
    "header header header header"
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "div div div div"
    "footer footer footer footer"
    ;

    align-items: center;
    justify-items: center;
}




/* MEDIA TABLET------------------------------------- */
@media  (min-width: 579px) and (max-width: 780px){
    header{
        height: 200px;
    }

    nav{ 
        height: 80px; 
    }

    footer{
        height: 100px;
    }

    nav ul li a{
        font-size: 15px;
        line-height: 20px;
    }

    /* PORTFOLIO------------------------------------ */

   

/* INDEX */
.titulo_index  div h1{
    right: 40px;
    font-size: 20px;
    text-align: center;
}

.parrafo_index  div p{

    font-size: 10px;
    right: 40px;
    text-align: center;
    
   
} 


/* PORTFOLIO */


    
    

    .imgT{
        /* size: 20px; */
        font-size: 40px ;
    }
    


    /* Grid *//* --------------------------------- */

    .grilla_portfolio{
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(10, 1fr); */
        grid-template-areas:
        "header header "
        "nav nav  "
        "b_bloque1 b_bloque1 "
        "b_bloque2a b_bloque2a "
        "b_bloque2b b_bloque2b "  
        "b_bloque3a b_bloque3a "
        "b_bloque3b b_bloque3b "
        "m_bloque1 m_bloque1 "
        "m_bloque2a m_bloque2a "
        "m_bloque2b m_bloque2b "
        "m_bloque3a m_bloque3a "
        "m_bloque3b m_bloque3b "
        "m_bloque4a m_bloque4a"
        "m_bloque4b m_bloque4b"
        "footer footer"
        ;
    
/* --------------------------------- */

    }
    .grilla_index{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        
        
        
        grid-template-areas:
            "header header"
            "nav nav "
            "div2 div2 "
            "div2 div2"
            "div2 div2"
            "footer footer"
        ;
        
        align-items: center;
        justify-items: center;
        
    }
    .grilla_perfil{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20%;
        
        
        grid-template-areas:
            "header header"
            "nav nav"
            "img_perfil  texto_perfil"
            "footer footer"
        ;
        
        align-items: center;
        justify-items: center;
    }
    
}

@media (min-width: 781px) and (max-width: 1200px){
    header{
        height: 300px;
    }

    nav{
        height: 50px;
        width: 781px;
        padding: 50px;    
    }

    footer{
          height: 100px;
    }

    nav ul li a{
        font-size: 30px;
        line-height: 20px;
    }

    
    .Bordes_text h4{
        width: 781px;
    }
    
    #img_{
        margin: 20px;
    }

    .titulo_index  div h1{
        position: relative;
        bottom: 20px;
        right: 100px;
        font-family: 'Montserrat', sans-serif ;
        font-size: 30px;
        color: white;
        font-family: 'Montserrat', sans-serif ;
        text-align: center;
    
    
    }
    
     
    .parrafo_index  div p{
        width: auto;
        height: auto;
        font-size: 15px;
    
        position: relative;
        /* bottom: 130px; */
        right: 100px;
        font-family: 'Montserrat', sans-serif ;
        text-align: center;
        color: white;
       
    } 






/* Grid *//* --------------------------------- */
    
    .grilla_portfolio{
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: repeat(10, 1fr); */
        grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "b_bloque1 b_bloque1 b_bloque1 b_bloque1"
        "b_bloque2a b_bloque2a b_bloque2b b_bloque2b"  
      
        "b_bloque3a b_bloque3a  b_bloque3b b_bloque3b"
        
        "m_bloque1 m_bloque1 m_bloque1 m_bloque1"
        
        "m_bloque2a m_bloque2a m_bloque2b m_bloque2b"
        
        "m_bloque3a m_bloque3a m_bloque3b m_bloque3b"
        
        "m_bloque4a m_bloque4a m_bloque4b m_bloque4b"
        "footer footer footer footer"
        ;
    
/* ------------------------------ */

    }
    .grilla_index{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20%;
        
        
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "div2 div2 div2 "
            "div2 div2 div2"
            "div2 div2 div2"
            "footer footer footer"
        ;
        
        align-items: center;
        justify-items: center;
        
    } 

    .grilla_perfil{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
       
        
        
        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "img_perfil img_perfil texto_perfil texto_perfil"
            "img_perfil img_perfil texto_perfil texto_perfil"
            "img_perfil img_perfil texto_perfil texto_perfil"
            "footer footer footer footer"
        ;
        
        align-items: center;
        justify-items: center;
    }

    .grilla_hobbie{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20%;
    
    
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "titulo titulo titulo"
        "div div div"
        "div div div"
        "footer footer footer"
    ;
    
    align-items: center;
    justify-items: center;
    }

    .grilla_contacto{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20%;
        
        
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "div div div "
            "div div div"
            "div div div"
            "footer footer footer"
        ;
        
        align-items: center;
        justify-items: center;
    }
}